body{
    background-color: darkseagreen;
    color: rgb(34, 50, 119);
}

h1{
    color: rgb(66, 102, 33);
}

div{
    background-color: rgba(238, 228, 228, 0.897);
    padding: 10px 20px;
    margin: 50px;
    border-radius: 50px;
}

img{
    border-radius: 5px;
    margin-top: 10px;
}